* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace  ;
    text-align: center;
    line-height: 1.5;   
    padding: 20px 10px; 
}

#main {
    background-color: rgba(173,216,230,1);
    padding: 2rem 1rem;
}

h1 {
    font-size: 4rem;
}

h3 {
    text-align: center;
}

#title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

#img-div {
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
}

figure {
    width: 90%;
    margin: 0 auto;
}

#image {
    max-width: 100%;
    display: block;
}

#img-caption {
    padding: 0 1rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

#tribute-info {
    width: 50%;
    margin: 3rem auto;
    text-align: left;
}

#tribute-info ul li {
    margin: 1rem;
}

#tribute-info em {
    display: block;
    margin: 2rem 0;
}

#extra-info {
    font-size: 1.5rem;
    font-weight: bold;
}

@media only screen and (max-width: 568px) {
    html {
        font-size: 45%;
    }

    h1 {
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    #tribute-info {
        width: 80%;
    }
}

@media only screen and (max-width: 776px) {
    html {
        font-size: 50%;
    }

    h1 {
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    #tribute-info {
        width: 80%;
    }
}